:root {
    --card-grey: #ebebe6;
}
.cv-card {
    flex-basis: 30%;
    background-color: var(--card-grey);
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
}

.cv-card i {
    padding-right: 5px;
}
.cv-card h2 {
    margin-top: 0;
}

.cv-card summary {
    width: fit-content;
    cursor: pointer;
    color: black;
    background-color: var(--white);
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: small;
}

.cv-card summary::open{
    background-color: black;
}

.cv-card .small-summary {
    font-size: 16px;
    font-weight:  400;
}

#Skills {
    align-self: start;  
}